<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.2.0/handlebars.js"></script>
    <link rel="stylesheet" href="./src/style/main.css">
</head>
<body>
  <div class="wrapper">
    <div class="main">
       {{> "./src/templates/main-content.hbs"}}
    </div>
  </div>
</body>
</html>
