{{#each coordsValue}}
<li class="rewiews_item">
    <div class="rewiews_description">
        <div class="rewiews_author">{{name}}</div>
        <div class="rewiews_data">
            <div class="rewiews_place">{{place}} </div>
            <div class="rewiews_date">{{date}}</div>
        </div>
    </div>
    <p class="rewiews_text">{{rewiew}}</p>
</li>
{{/each}}