<div class="rewiew_wrapper">
    <div class="rewiew">
    <div class="rewiew_container">
        <div class="rewiew_head">
            <p class='adress'></p>
            <div class="close_button">
            </div>
        </div>
        <div class="rewiew_main">
            <ul class="rewiews">
                {{> 'rewiews-content.hbs'}}
            </ul>
            <form class='form'>
                <div class="form_text">ВАШ ОТЗЫВ</div>
                <input class='form_row' type="text" name="name" placeholder="Ваше имя">
                <input class='form_row' type="text" name="place" placeholder="Укажите место">
                <textarea class='form_row form_textarea' name="rewiew"
                    placeholder="Поделитесь впечатлениями"></textarea>
                <button class="form_button">Добавить</button>
            </form>
        </div>
    </div>
</div>
</div>