<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.0/handlebars.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
</head>

<body>
    <div class="wrapper">
        <div class="welcome">
            <form action="" class="form">
                <div class="form__image"><img src="../public/images/welcome.png" alt="" class="form__pic" /></div>
                <div class="form__description">
                    <div class="form__head">Авторизация</div>
                    <div class="form__text">Введите пожалуйста своё фио и ник для дальнейшей авторизации</div>
                </div>
                <label class="form__name form__row">
                    <input type="text" class="form__name_input form__input" name='name' placeholder="Введите свое имя"
                        required>
                </label>
                <label class="form__nickname form__row">
                    <input type="text" class="form__nickname_input form__input" name='nickname'
                        placeholder="Введите свой ник" required>
                </label>
                <button class="form__button">ВОЙТИ</button>
            </form>
        </div>
    </div>
</body>

</html>