<form class="img_editor">
    <label class='img_editor__input_wrap'>
        Вставьть фотографию
        <img class='img_editor__pic' src="" alt="">
        <input class='img_editor__input' name='file' type="file">
    </label>
    <div class="img_editor__text">Область для профильной фотографии</div>
    <div class="img_editor__btns">
        <button type='button' class="img_editor__btn img_editor__cancel">ОТМЕНА</button>
        <button type='button' class="img_editor__btn img_editor__accept">СОХРАНИТЬ</button>
    </div>
</form>