* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    font-size: 16px;
}

a{
    text-decoration:none;
}

ul{
    margin: 0;
    padding: 0;
}

ul>li{
    list-style: none;
}


.welcome{
    margin:0 auto;
    width:520px;
    height:550px;
    background-color: #17212b;
    padding:40px 0;
}

.form{
    width:250px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:140px;
    height:140px;
    border-radius: 50%;
    background-color: #242f3d;
    margin-bottom:35px;
}

.form__description{
    text-align:center;
    margin-bottom:50px;
}

.form__head{
    font-size: 24px;
}


.form__row{
    width: 100%;
    border-bottom:1px solid #5288c1;
}

.form__row:not(:last-child){
    margin-bottom:25px;
}

.form__input{
    color:#fff;
    width:100%;
    padding: 10px;
    background-color: transparent;
    border:none;
}

.form__button{
    cursor: pointer;
    border:none;
    font-weight: 500;
    color:#fff;
    padding:13px 40px;
    background-color: #5288c1
}


/* MESSAGES *//* MESSAGES *//* MESSAGES *//* MESSAGES */

.chatroom{
    width:100%;
    height:450px;
    background-color: #0e1621;
}

.chatroom__container{
    width:100%;
    height:100%;
    display: flex;
}


.users{
    padding: 10px;
    position: relative;
    width:25%;
    min-height:100%;
    margin-right:4px;
    background-color: #17212b;
    overflow: hidden;
}

/* navbar */
/* navbar */
/* navbar */

.users__menu{
    display:none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #17212b;
}
.users__bar{
    display: flex;
    align-items: center;
    width:100%;
    height:30px;
    margin-bottom:20px;
}

.hamburger-menu-link {
	display:flex;
	align-items:center;
    position: relative;
    width:24px;
    height: 20px;
    margin-right: 10px;
	align-items: center;
}

.hamburger-menu-link__bars{
    background: #242f3d;
    width: 24px;
    height: 3px;
    border-radius: 3px;
}
.hamburger-menu-link__bars::before {
        content: "";
        display: block;
        position: absolute;
        background: #242f3d;
        width: 24px;
        height: 3px;
        border-radius: 3px;
    }
.hamburger-menu-link__bars::after {
        content: "";
        display: block;
        position: absolute;
        background: #242f3d;
        width: 24px;
        height: 3px;
        border-radius: 3px;
	}
.hamburger-menu-link__bars::before{
		top: 0;
    }
.hamburger-menu-link__bars::after{
		bottom: 0;
    }
    
.users__search{
    display: block;
    width:100%;
    height:30px;
    background-color: #242f3d;
    border-radius: 3px;
    padding: 10px;
    border:none;
    color: #fff;
}

.users__menu_list{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding-top:40px;
}


.users__menu__item{
    height:20px;
    width:100%;
    display: flex;
    align-items: center;
    background-color: #242f3d;
}

.users__menu_link{
    display: block;
    text-decoration: none;
    width:100%;
    height:100%;
    color:#fff;
    cursor: pointer;
}

.users__menu_close{
    display: block;
    position: absolute;
    top:10px;
    right:10px;
    width:20px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:transparent;
    border:none;
}

.users__menu_close::before{
    content: '';
    position: absolute;
    width:4px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    transform: rotate(-45deg);
}

.users__menu_close::after{
    content: '';
    position: absolute;
    width:4px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    transform: rotate(45deg);
}



.users__list{
    overflow: hidden;
    overflow-y: scroll;
    width:100%;
    height: 100%;
}

.users__list::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}


.users__item{
    width:100%;
    height:50px;
    display: flex;
}

.users__item:not(:last-child){
    margin-bottom: 12px;
}

.users__img{
    width:50px;
    height:50px;
    overflow: hidden;
    background-color:#fff;
    border-radius: 50%;
}

.users__pic{
    width:100%;
    height:100%;
    object-fit: contain;
}

.users__info{
    padding:10px;
}

.users__name{
    margin-bottom: 5px;
}

.users__last_msg{
    color: #7f91a4;   
}

.messages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width:75%;
}

.messages__head{
    width:100%;
    height:70px;
    background-color: #17212b;
    padding: 20px 10px;
}

.messages__text{
    color:#fff;
}

.messages__users{
    color: #7f91a4;
}


.messages__content{
    display:flex;
    flex-direction: column;
    height:100%;
    overflow: hidden;
    overflow-y: scroll;
}

.messages__content::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}


.messages__footer{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:55px;
    background-color: #17212b;
    padding:15px 10px;
}


.messages__send{
    color:#fff;
    width:50%;
    background-color: transparent;
    border:none;
}

.messages__send::placeholder{
    color:#5b6774;
}

.messages__btn{
    cursor: pointer;
    width:110px;
    height: 30px;
    background-color: #5288c1;
    color:#fff;
    border:none;
    border-radius:5px;
}
.messages__message{
    width:100%;
    padding:5px;
    height:30px;

}
.messages__message:nth-child(even){
    background-color: #17212b;
}


/* EDITOR */

.img_editor{
    position: relative;
    width: 364px;
    height: 452px;
    border-radius: 4px;
    background-color: #17212b;
    padding:30px 40px;
}

.img_editor__input_wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:300px;
    margin-bottom:15px;
    z-index: 100;
}

.img_editor__pic{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: fill;
}

.img_editor__input{
    display: none;
}

.img_editor__text{
    text-align: center;
    color:#7f91a4;
    margin-bottom: 20px;
    font-size: 14px;
}

.img_editor__btns{
    position: absolute;
    right:20px;
}

.img_editor__btn{
    width:110px;
    height:40px;
    padding:10px;
    background-color:transparent;
    color:#6ab2f2;
    border-radius: 4px;
    border:none;
    cursor: pointer;
}

.img_editor__btn:hover{
    background-color: #1d2a39;
}