{{#each currentUsers}}
<li class="user__item">
    <div class="user__img">
        <img src="" alt="" class="user__pic">
    </div>
    <div class="user__info">
        <div class="user__name"> {{name}}
        </div>
        <div class="user__last_msg">{{msg}}</div>
    </div>
</li>
{{/each}}